@page "/"

<img src="/Logo_1.png"/>
<h1>Welcome!</h1>
<p>Colleague request manager is an application which will organize your employees' day to day requests to each other and make your operations
    much smoother. <br />
    <a href = "mailto: petros_mkheyan@edu.aua.am">Send an Email</a> to get an account and try it out.</p>
